body {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;
    margin: 0 auto;
}
.header, header{
    margin-top:0;
}
h1,h3{
    text-align:center; 
    font-family: 'Syncopate';
    margin:0 auto;
    font-weight: 300;
}
h1{
    font-size: 16pt;   
}
h3{
    font-size: 12px;
}

.main, main, footer {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 14pt;
}
h2{
    border-bottom: 1px solid black;
    font-size: 14pt;
    font-weight: 700;
    margin-bottom:0;
}
.section, section{
    margin-bottom: 10px;   
}
ul{
    list-style: circle; 
}

ul li {
    margin-bottom: 0.2em;
}
.noBullet {
    list-style: none;
    padding: 0;
}
.right{
    float:right;
    text-align: right;
    padding:0;
}

#course h2{
    margin-bottom: 10px;
}
#course ul{
    margin-top: 0;
    /*text-align:center;*/
    /*height: 3em;*/
}
#course ul li{
    padding-right: 2em;
}

footer {
    margin-top: 2.5em;
    margin-bottom: 0;
    font-size: 10pt;
    text-align:center;
}